@font-face {
  /*Belgrad typeface was created by Vinzent Britz*/
  font-family: "Belgrad";
  src: url("Belgrad.ttf");
}
@-webkit-keyframes title-enter {
  0% {
    opacity: 0%;
    transform: scale(0.5);
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}
@keyframes title-enter {
  0% {
    opacity: 0%;
    transform: scale(0.5);
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}
@-webkit-keyframes bg-load {
  0% {
    filter: brightness(50%);
  }
  50% {
    filter: brightness(50%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes bg-load {
  0% {
    filter: brightness(50%);
  }
  50% {
    filter: brightness(50%);
  }
  100% {
    filter: brightness(100%);
  }
}
@-webkit-keyframes bg-overlay-load {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes bg-overlay-load {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: hsl(0deg, 0%, 12%);
}

::-webkit-scrollbar-thumb {
  background: hsla(0deg, 0%, 100%, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: hsla(0deg, 0%, 100%, 0.75);
}

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: hsl(0deg, 0%, 100%);
  scrollbar-color: transparent;
}

body {
  margin: 0;
  padding: 0;
}

header {
  -webkit-animation: bg-load 1s forwards;
          animation: bg-load 1s forwards;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-bottom: 3em;
  background-image: url("images/bg.webp");
}
header > h1 {
  -webkit-animation: title-enter 1.25s forwards;
          animation: title-enter 1.25s forwards;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-weight: 400;
}
header > h2 {
  -webkit-animation: title-enter 1.25s forwards;
          animation: title-enter 1.25s forwards;
  margin-left: 1em;
  margin-right: 1em;
  color: hsl(0deg, 0%, 100%);
}
header > p {
  -webkit-animation: title-enter 1.25s forwards;
          animation: title-enter 1.25s forwards;
  margin: 1em;
  color: hsl(0deg, 0%, 100%);
}

.bg-overlay {
  -webkit-animation: bg-overlay-load 2s forwards;
          animation: bg-overlay-load 2s forwards;
  background: linear-gradient(120deg, hsla(0deg, 0%, 100%, 0) 0%, hsla(0deg, 0%, 100%, 0) 25%, hsl(207deg, 80%, 56%) 50%, hsl(336deg, 100%, 58%) 75%, hsl(266deg, 89%, 50%) 100%);
  background-size: 400% 400%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  mix-blend-mode: lighten;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: "Belgrad", sans-serif;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  font-size: clamp(3em, 6vw, 5em);
  font-weight: 600;
  margin: 0;
}

h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: hsl(0deg, 0%, 12%);
  margin: 1em 0 0 0;
  text-align: center;
}

p {
  color: hsl(0deg, 0%, 12%);
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: center;
}

.img-container img {
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border-radius: 0.5em;
}

.three-columns {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
}

.project-card {
  display: flex;
  flex-direction: column;
  max-width: clamp(360px, 30vw, 480px);
  padding: 2em 1em;
  border-radius: 1em;
}

.description-container {
  display: flex;
  flex-direction: column;
}
.description-container h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(0deg, 0%, 12%);
  margin: 16px;
}
.description-container p {
  margin: 0 1em 24px 1em;
}

.button-pair {
  display: flex;
  list-style: none;
  padding: 0;
  margin: auto 1em 1em 1em;
  gap: 1em;
}
.button-pair li {
  width: 50%;
}
.button-pair a {
  display: block;
  color: hsl(0deg, 0%, 12%);
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  border: 2px solid hsl(0deg, 0%, 12%);
  border-radius: 4px;
  padding: 0.5em 0.5em;
  text-align: center;
  transition-duration: 0.2s;
}
.button-pair a:hover {
  background-color: hsl(0deg, 0%, 12%);
  color: hsl(0deg, 0%, 100%);
}

address {
  margin: 1em 0 1em 0;
}
address a {
  color: hsl(0deg, 0%, 12%);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
}

footer {
  background-color: hsl(230deg, 20%, 12%);
  color: hsl(0deg, 0%, 100%);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  padding: 2em 1em;
  margin: 2em 0 0 0;
}

@media screen and (max-width: 1200px) {
  .three-columns {
    grid-template-columns: 50% 50%;
  }
  .project-card {
    max-width: 45vw;
  }
}
@media screen and (max-width: 750px) {
  .three-columns {
    grid-template-columns: 100%;
  }
  .bg-overlay {
    display: none;
  }
  .project-card {
    max-width: 95vw;
  }
}/*# sourceMappingURL=styles.css.map */