@font-face {
    /*Belgrad typeface was created by Vinzent Britz*/
    font-family: "Belgrad";
    src: url("Belgrad.ttf");
}
$clr-light: hsl(0, 0%, 100%);
$clr-dark: hsl(0, 0%, 5%);
$font-h1: "Belgrad", sans-serif;
$font-h2: "Plus Jakarta Sans", sans-serif;
$font-body: "Plus Jakarta Sans", sans-serif;
$font-size-body: 1.2em;

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 100%, 0.5);
    &:hover {
        background: hsl(0, 0%, 100%, 0.75);
    }
}
*, ::before, ::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    background-color: hsl(230, 20%, 17%);
    scrollbar-color: transparent;
}
body {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    > p {
        margin: 1em;
        max-width: 720px;
        text-align: center;
    }
    > h2 {
        font-family: $font-h2;
        font-weight: 600;
        color: $clr-light;
        margin: 1em 0 0 0;
        text-align: center;
    }
}
h1 {
    font-family: $font-h1;
    color: $clr-light;
    text-align: center;
    font-size: clamp(2em, 5vw, 5em);
    font-weight: 600;
    margin: 1em auto 0.5em auto;
}
p {
    color: $clr-light;
    font-family: $font-body;
}
.img-container {
    img {
        width: 100%;
        object-fit: scale-down;
    }
}
.three-columns {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
}
.project-card {
    display: flex;
    flex-direction: column;
    max-width: clamp(320px, 25vw, 480px);
    border: 1px solid hsl(0, 0%, 100%, 1);
    border-radius: 2px;
    margin: 1em;
}
.description-container {
    display: flex;
    flex-direction: column;
    h2 {
        font-family: $font-h2;
        font-weight: 600;
        color: $clr-light;
        margin: 24px;
        text-align: center;
    }
    p {
        text-align: center;
        margin: 0 24px 32px 24px;
    }
}
.button-pair {
    display: flex;
    list-style: none;
    padding: 0;
    margin: auto 0 0 0;
    li {
        flex-grow: 2;
    }
    a {
        display: block;
        color: $clr-light;
        text-decoration: none;
        font-family: $font-body;
        font-weight: 500;
        border-top: 2px solid white;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        border-right: 1px solid white;
        padding: 0.5em 1em;
        text-align: center;
        transition-duration: 0.2s;
        &:hover {
            background-color: $clr-light;
            color: $clr-dark;
        }
    }
}
address {
    margin: 1em 0 2em 0;
    a {
        color: $clr-light;
        font-family: $font-body;
        font-style: normal;
    }
}
footer {
    background-color: hsl(230, 20%, 12%);
    color: $clr-light;
    font-family: $font-body;
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding: 2em 1em;
    margin: 1em 2em 0 2em;
}
@media screen and (max-width: 1100px) {
    .three-columns {
        grid-template-columns: 50% 50%;
    }
}
@media screen and (max-width: 750px) {
    .three-columns {
        grid-template-columns: 100%;
    }
}