@import "variables";

.lr-two-columns,
.rl-two-columns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4em 0;
  max-width: 1080px;
  border-radius: 1em;
  gap: 4em;
  h2 {
    margin: 0;
    text-align: right;
  }
  p {
    text-align: right;
    margin: 0.5em 0;
  }
  img {
    width: auto;
    max-height: 600px;
  }
}
.rl-two-columns {
  flex-direction: row-reverse;
  h2 {
    text-align: left;
  }
  p {
    text-align: left;
  }
}
.benefit-point {
  margin: 3em 0;
}
