@import "variables";
@import "animations";

@font-face {
  font-family: "Keep on Truckin";
  src: url("fonts/KeeponTruckin.ttf");
}

@keyframes img-packaging-loading {
  0% {
    transform: translateY(2rem);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 1.2rem;
}

section {
  padding: 2em;
}

img {
  display: block;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  width: 100%;
  margin-bottom: 4em;
}

.button {
  padding: 8px 16px;
  width: fit-content;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  background-color: $clr-brown;
  font-size: 1.2rem;
  box-shadow: 6px 6px 0 $clr-beige;
  transition: $dur-short;
  &:hover {
    background-color: hsl(27, 41%, 35%);
    box-shadow: 0px 0px 0 $clr-beige;
  }
}

nav {
  display: flex;
  position: fixed;
  padding: 0 5vw;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px hsl(0, 0%, 66%);
  z-index: 1000;
  #logo {
    height: 42px;
  }
  ul {
    display: flex;
    padding: 0;
    list-style-type: none;
  }
  li {
    padding: 4px 0px;
  }
  a {
    text-decoration: none;
    padding: 0px 16px;
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    height: 42px;
    transition-duration: $dur-short;
    &:hover {
      color: $clr-brown;
    }
  }
}

#title-home {
  margin: 8px 0;
  font-family: "Keep on Truckin";
  font-size: 4rem;
  letter-spacing: 4px;
  font-weight: 600;
  color: $clr-brown;
  text-shadow: 6px 6px 0px #ffefc8;
}

#subtitle-home {
  margin: 8px 0;
  font-family: "Keep on Truckin";
  font-size: 2rem;
  color: $clr-brown;
}

#sales-pitch {
  line-height: 1.3;
  margin-bottom: 2em;
}

.container-bg {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2em;
  gap: clamp(0em, 2vw, 2em);
  max-width: 1440px;
  margin: auto;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  div:first-child {
    padding-left: 2em;
  }
  img {
    width: 20em;
    margin: auto;
  }
}

#hero-images {
  animation: img-packaging-loading 0.5s forwards;
  position: relative;
  top: 0;
  left: 0;
  img {
    inset: 0;
    top: 0;
    left: 0;
  }
  img:first-child {
    animation: fade-out 0.5s forwards;
    animation-delay: 1.25s;
    pointer-events: none;
    z-index: 0;
  }
  img:nth-child(2) {
    animation: fade-in 0.5s forwards;
    animation-delay: 1.25s;
    position: absolute;
    opacity: 0%;
    z-index: -2;
  }
  img:nth-child(3) {
    animation: translate-down 0.5s forwards, fade-in 0.5s forwards;
    animation-delay: 1.5s;
    position: absolute;
    opacity: 0%;
    z-index: -3;
  }
  img:nth-child(4) {
    animation: translate-down 0.5s forwards, fade-in 0.5s forwards;
    animation-delay: 1.75s;
    position: absolute;
    opacity: 0%;
    z-index: -3;
  }
  img:last-child {
    animation: translate-left 0.5s forwards, fade-in 0.5s forwards;
    animation-delay: 2s;
    position: absolute;
    opacity: 0%;
    z-index: -3;
  }
}

footer {
  padding: 1em 1em;
}
