$clr-brown: #6d4a2e;
$clr-orange: #f4a033;
$clr-beige: #ffefc8;

// Redesign
$clr-dark-blue: #31366d;
$clr-blue: #61ccf0;
$clr-light-blue: #c3e8f8;
$clr-yellow: #f9c924;
$clr-light-yellow: #fcdc85;

$clr-font-black: hsl(240, 5%, 15%);

$dur-short: 0.2s;
$dur-medium: 0.5s;

$max-width-section: 1080px;

$border-radius: 8px;
