$clr-brown: #6d4a2e;
$clr-orange: #f4a033;
$clr-yellow: #eee240;
$clr-beige: #ffefc8;
$clr-font-black: hsl(240, 5%, 15%);

$dur-short: 0.2s;
$dur-medium: 0.5s;

$max-width-section: 1080px;

$border-radius: 8px;
