$font-size-large: 1.2em;
$font-size-body: 1em;
$font-size-small: 0.8em;
$font-clr-admin: hsl(56, 100%, 50%);
$font-clr-user: hsl(187, 100%, 50%);
$font-clr-grey: hsl(0, 0%, 50%);
$clr-approve: hsl(145, 70%, 55%);
$clr-approve-translucent: hsl(145, 70%, 55%, 0.1);
$clr-warning: hsl(46, 100%, 50%);
$clr-danger: hsl(340, 100%, 50%);
$clr-danger-translucent: hsl(340, 100%, 50%, 0.1);
$glow: 0 0 24px;

@keyframes loading-bar {
    0% {
        width: 0%;
    }
    20% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes generic-enter {
    0% {
        opacity: 0%;
    }
    20% {
        opacity: 40%;
    }
    40% {
        opacity: 20%;
    }
    60% {
        opacity: 80%;
    }
    80% {
        opacity: 60%;
    }
    100% {
        opacity: 100%;

    }
}
@keyframes generic-exit {
    0% {
        opacity: 0%;
    }
    20% {
        opacity: 40%;
    }
    40% {
        opacity: 20%;
    }
    60% {
        opacity: 80%;
    }
    80% {
        opacity: 60%;
    }
    100% {
        opacity: 100%;

    }
}
@keyframes notification-enter {
    0% {
        opacity: 0%;
        line-height: 0;
        padding: 0 0.5em;
        outline: 2px;
    }
    25% {
        opacity: 0%;
        line-height: 0;
        padding: 0 0.5em;
        outline: 2px;
    }
    75% {
        opacity: 0%;
        line-height: 1.2;
        padding: 0.5em 0.5em;
    }
    80% {
        opacity: 40%;
    }
    85% {
        opacity: 20%;
    }
    90% {
        opacity: 80%;
    }
    95% {
        opacity: 60%;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes blink {
    0% {
        opacity: 60%;
    }
    50% {
        opacity: 60%;
    }
    51% {
        opacity: 100%;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes text-scroll {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: $clr-danger-translucent;
    outline: 1px solid $clr-danger;
    outline-offset: -2px;;
}

*, ::before, ::after {
    box-sizing: border-box;
}
html {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 0%);
    visibility: visible;
    opacity: 100;
    overflow: hidden;
}
body {
    aspect-ratio: 16 / 9;
    display: flex;
    background-color: hsl(0, 0%, 0%);
    margin: 5vh;
    perspective: 2000px;
    outline: 100vw solid black;
}
h2 {
    font-family: "Rajdhani", sans-serif;
    font-size: 2.8vh;
    background-color: white;
    margin: 0;
    padding: 0 0.5em;
}
button {
    appearance: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 0.25vh 2vh;
    font-family: "Rajdhani", sans-serif;
    font-size: 2.8vh;
    cursor: pointer;
    filter: drop-shadow($glow white);
    &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
    }
}
.dialog-box {
    animation: generic-enter 0.25s forwards;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 60vh;
    height: 17vh;
    background-color: hsla(0, 0%, 0%, 1);
    border: 1px solid $font-clr-user;
    z-index: 100;
    h2 {
        background-color: $font-clr-user;
        width: 100%;
    }
    p {
        font-family: "Rajdhani", sans-serif;
        font-size: 2.2vh;
        color: white;
    }
}
.dialog-box-exit {
    animation: generic-exit 0.25s forwards;
    border: 1px solid $clr-approve;
    h2 {
        background-color: $clr-approve;
    }
    .loading-bar-container {
        border: 1px solid $clr-approve;
        div {
            background-color: $clr-approve;
        }
    }
}
.loading-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 1.5vh;
    padding: 0.2vh;
    border: 1px solid $font-clr-user;
    div {
        animation: loading-bar 1s forwards;
        width: 100%;
        height: 100%;
        background-color: $font-clr-user;
    }
}
#intro-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    outline: 1px solid white;
    width: 100%;
    height: 100%;
    z-index: 1000;
    p {
        font-family: "Rajdhani", sans-serif;
        font-size: 3vh;
        color: white;
    }
}
#transcript-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 25%;
    height: 100%;
    outline: 1px solid white;
    outline-offset: -1px;
    transform: rotateY(0);
    transform-style: preserve-3d;
    transform-origin: center right;
    div {
        overflow: auto;
    }
}
#text-login-status {
    font-family: "Rajdhani", sans-serif;
    font-size: 1.75vh;
    text-align: center;
    text-transform: uppercase;
    color: $font-clr-grey;
}
.transcript-admin, .transcript-user {
    animation: generic-enter 0.25s forwards;
    background-color: transparent;
    font-family: "Rajdhani", sans-serif;
    font-size: 2.4vh;
    margin: 2px 0.5em 1em 0.5em;
    padding: 4px 0.5em;
    width: 80%;
}
.transcript-admin {
    border: 1px solid $font-clr-admin;
    color: $font-clr-admin;
    filter: drop-shadow($glow $font-clr-admin);
    margin-left: auto;
}
.transcript-user {
    border: 1px solid $font-clr-user;
    color: $font-clr-user;
    filter: drop-shadow($glow $font-clr-user);
}
.name-admin, .name-user {
    animation: generic-enter 0.25s forwards;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.75vh;
    color: white;
    margin: 0 12px;
    filter: drop-shadow($glow white);
}
.name-admin {
    text-align: right;
}
#btn-open-connection {
    animation: 1s blink infinite;
    width: 100%;
    margin-top: auto;
    &:hover {
        animation: none;
    }
}
//COLUMN 2
#desktop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
#date {
    font-family: "Share Tech Mono", monospace;
    font-size: 2.4vh;
    margin-bottom: 0;
    color: white;
    filter: drop-shadow($glow white);
}
#time {
    font-family: "Share Tech Mono", monospace;
    font-size: 2.8vh;
    margin: 0;
    color: white;
    filter: drop-shadow($glow white);
}
#metadata-container {
    animation: generic-enter 0.25s forwards;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;
    transform: translateY(5%);
    height: 60vh;
    width: 60vh;
}
table {
    font-family: "Rajdhani", sans-serif;
    font-size: 2.4vh;
    color: white;
}
th, td {
    padding: 0 1vh;
}
th {
    font-weight: 100;
    text-align: right;
    width: 40%;
    color: $font-clr-grey;
}
.btn-group {
    display: flex;
}
#btn-reject, #btn-approve {
    appearance: none;
    background-color: transparent;
    width: 100%;
    font-family: "Rajdhani", sans-serif;
    font-size: 2.8vh;
    cursor: pointer;
}
#btn-reject {
    border: 1px solid $clr-danger;
    color: $clr-danger;
    filter: drop-shadow($glow $clr-danger);
    &:hover {
        background-color: $clr-danger-translucent;
    }
}
#btn-approve {
    border: 1px solid $clr-approve;
    color: $clr-approve;
    filter: drop-shadow($glow $clr-approve);
    &:hover {
        background-color: $clr-approve-translucent;
    }
}
.scrolling-text {
    animation: text-scroll 25s linear infinite;
    position: absolute;
    bottom: -1vh;
    width: 200%;
    z-index: -1;
    span {
        font-family: "Rajdhani", sans-serif;
        font-size: 2vh;
        color: $font-clr-grey;
        float: left;
        width: 12.5%;
    }
}
#notifications-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 25%;
    height: 100%;
    outline: 1px solid white;
    outline-offset: -1px;
    transform: rotateY(0);
    transform-style: preserve-3d;
    transform-origin: center left;
    div {
        overflow: auto;
    }
}
.notif-regular, .notif-warning, .notif-danger {
    font-family: "Rajdhani", sans-serif;
    font-size: 2.2vh;
    line-height: 1.2;
    margin: 0;
    padding: 0.5em 0.5em;
}
.notif-regular {
    animation: notification-enter 1s forwards;
    border: 1px solid white;
    color: white;
    filter: drop-shadow($glow white);
}
.notif-warning {
    border: 1px solid $clr-warning;
    color: $clr-warning;
    filter: drop-shadow($glow $clr-warning);
}
.notif-danger {
    border: 1px solid $clr-danger;
    color: $clr-danger;
    filter: drop-shadow($glow $clr-danger);
    font-weight: 600;
}
#btn-rulebook {
    width: 100%;
    margin-top: auto;
}
#employee-number {
    position: absolute;
    bottom: 0em;
    font-family: "Libre Barcode 128 Text", sans-serif;
    font-size: 5vh;
    text-align: center;
    width: 100%;
    color: $font-clr-grey;
    z-index: -1;
}
