@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes enter-from-left {
  0% {
    opacity: 0;
    transform: translateX(-128px);
    filter: brightness(5);
  }
  25% {
    filter: brightness(5);
  }
  75% {
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    filter: brightness(1);
  }
}
@keyframes enter-from-right {
  0% {
    opacity: 0;
    transform: translateX(128px);
  }
  75% {
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes enter-from-top {
  0% {
    opacity: 0;
    transform: translateY(-128px);
    filter: brightness(5);
  }
  25% {
    filter: brightness(5);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    filter: brightness(1);
  }
}
@keyframes exit-to-right {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(128px);
  }
}
@keyframes exit-to-left {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-128px);
  }
}
@keyframes screen-transition {
  0% {
    opacity: 0;
    letter-spacing: 5rem;
  }
  33% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    letter-spacing: 0rem;
  }
  75% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
@keyframes fullscreen-transition-enter {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fullscreen-transition-exit {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes dialog-box-enter {
  0% {
    opacity: 0;
    scale: 0.33;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes dialog-box-exit {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0.33;
  }
}
:root {
  background-color: black;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 1px solid rgb(255, 255, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  animation-duration: 0.2s;
  font-family: "Red Hat Display", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
  color: white;
}

h1 {
  font-size: 4rem;
}

#game-title-name {
  font-weight: 100;
  letter-spacing: 8px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

input {
  animation: enter-from-left 0.5s forwards;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: white;
  border: none;
  box-shadow: inset 0 0 4px -2px black;
}

button {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  outline: 8px solid transparent;
  background-color: transparent;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px -4px black;
  transition-duration: 0.2s;
}
button:hover {
  outline: 3px solid white;
  text-shadow: 0 0 8px white;
}
button:active {
  outline: 0px solid transparent;
  background-color: white;
  color: black;
  text-shadow: 0 0 8px white;
}

.btn-small {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}

.btn-large {
  font-size: 1.4rem;
  padding: 0.75rem 1.5rem;
}

.btn-disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

#transition-screen {
  animation: screen-transition 1.2s forwards;
  position: absolute;
  display: flex;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 25%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0.75) 75%, rgba(0, 0, 0, 0) 100%);
  padding: 0;
  width: 100%;
  white-space: nowrap;
  height: 128px;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 100;
  overflow-x: hidden;
}

#dialog-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  transform-origin: 0% 0%;
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 160px;
  outline: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 1000;
}
#dialog-box #btn-dialog-box {
  justify-self: flex-end;
}

#title-screen,
#player-setup,
#progenitor-selection-screen {
  animation: fullscreen-transition-enter 0.4s forwards;
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: black;
  padding: 2rem;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0 0 4px -2px black;
  z-index: 50;
}

#player-setup {
  display: none;
}
#player-setup #player-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 360px;
  overflow-y: auto;
}
#player-setup #player-list div {
  display: flex;
  gap: 4px;
}
#player-setup #player-list input[type=color] {
  padding: 0;
  height: 100%;
  cursor: pointer;
}

#debug-menu {
  display: none;
  position: absolute;
  bottom: 8px;
  z-index: 100000000;
}

.animate-fullscreen-exit {
  animation: fullscreen-transition-exit 0.4s forwards !important;
}

.btn-active {
  background-color: white;
  color: black;
}

.animate-dialog-box-enter {
  animation: dialog-box-enter 0.2s forwards;
}

.animate-dialog-box-exit {
  animation: dialog-box-exit 0.2s forwards;
}

@keyframes active-player-enter {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(32px);
  }
}
@keyframes active-player-exit {
  0% {
    transform: translateX(32px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes active-player-pulse {
  0% {
    filter: contrast(1) saturate(100%);
  }
  50% {
    filter: contrast(0.8) saturate(150%);
  }
  100% {
    filter: contrast(1) saturate(100%);
  }
}
@keyframes pulsing-orb {
  0% {
    opacity: 0.8;
    box-shadow: 0px 0px 2px 1px rgba(255, 217, 0, 0.4);
  }
  50% {
    opacity: 1;
    box-shadow: 0px 0px 4px 1px rgba(255, 217, 0, 0.8);
  }
  100% {
    opacity: 0.8;
    box-shadow: 0px 0px 2px 1px rgba(255, 217, 0, 0.4);
  }
}
@keyframes orb-enter {
  0% {
    opacity: 0%;
    transform: scale(0);
    outline: 12px solid #ffd900;
    outline-offset: 0px;
  }
  100% {
    opacity: 100%;
    transform: scale(1);
    outline: 12px solid rgba(255, 217, 0, 0);
    outline-offset: 0.75rem;
  }
}
@keyframes orb-drain {
  0% {
    background-color: #ffd900;
  }
  100% {
    background-color: rgba(255, 217, 0, 0);
  }
}
@keyframes low-health-pulse {
  0% {
    background-color: rgb(0, 0, 0);
  }
  50% {
    background-color: rgb(134, 34, 34);
  }
  100% {
    background-color: rgb(0, 0, 0);
  }
}
#player-cards {
  position: absolute;
  display: none;
  flex-direction: column;
  left: 0rem;
  gap: 1rem;
  margin: 0;
  padding: 0;
  z-index: 999;
  transition-duration: 0.8s;
}

.player-card {
  animation: enter-from-left 0.8s forwards;
  background: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0.5rem 4rem 0.5rem 2rem;
  width: 256px;
  transform-style: preserve-3d;
  gap: 0px;
}
.player-card .player-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.player-card .secondary-player-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.player-card .secondary-player-info .player-class-name {
  animation: enter-from-left 0.8s forwards;
}

.player-hp-container,
.player-sp-container,
.player-karma-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 4px;
}
.player-hp-container .player-hp,
.player-hp-container .player-sp,
.player-hp-container .player-karma,
.player-sp-container .player-hp,
.player-sp-container .player-sp,
.player-sp-container .player-karma,
.player-karma-container .player-hp,
.player-karma-container .player-sp,
.player-karma-container .player-karma {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.player-hp-container .player-hp div,
.player-hp-container .player-sp div,
.player-hp-container .player-karma div,
.player-sp-container .player-hp div,
.player-sp-container .player-sp div,
.player-sp-container .player-karma div,
.player-karma-container .player-hp div,
.player-karma-container .player-sp div,
.player-karma-container .player-karma div {
  font-size: 8px;
}
.player-hp-container .player-hp h4,
.player-hp-container .player-sp h4,
.player-hp-container .player-karma h4,
.player-sp-container .player-hp h4,
.player-sp-container .player-sp h4,
.player-sp-container .player-karma h4,
.player-karma-container .player-hp h4,
.player-karma-container .player-sp h4,
.player-karma-container .player-karma h4 {
  font-weight: 200;
  margin-bottom: 1px;
}
.player-hp-container .player-hp span,
.player-hp-container .player-sp span,
.player-hp-container .player-karma span,
.player-sp-container .player-hp span,
.player-sp-container .player-sp span,
.player-sp-container .player-karma span,
.player-karma-container .player-hp span,
.player-karma-container .player-sp span,
.player-karma-container .player-karma span {
  font-size: 1.4rem;
  color: white;
  font-weight: 200;
  font-variant-numeric: tabular-nums;
}
.player-hp-container .player-hp span:last-child,
.player-hp-container .player-hp span:nth-child(2),
.player-hp-container .player-sp span:last-child,
.player-hp-container .player-sp span:nth-child(2),
.player-hp-container .player-karma span:last-child,
.player-hp-container .player-karma span:nth-child(2),
.player-sp-container .player-hp span:last-child,
.player-sp-container .player-hp span:nth-child(2),
.player-sp-container .player-sp span:last-child,
.player-sp-container .player-sp span:nth-child(2),
.player-sp-container .player-karma span:last-child,
.player-sp-container .player-karma span:nth-child(2),
.player-karma-container .player-hp span:last-child,
.player-karma-container .player-hp span:nth-child(2),
.player-karma-container .player-sp span:last-child,
.player-karma-container .player-sp span:nth-child(2),
.player-karma-container .player-karma span:last-child,
.player-karma-container .player-karma span:nth-child(2) {
  font-size: 1rem;
  color: white;
}

.player-lives-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}
.player-lives-container p {
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
}

.player-wp-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 6px;
  margin-top: 2px;
}
.player-wp-container p {
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
}
.player-wp-container h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 200;
  margin-bottom: 1px;
  letter-spacing: 1px;
}

.wp-orb-filled {
  background-color: rgb(255, 217, 0);
  width: 8px;
  height: 8px;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.wp-orb-empty {
  width: 8px;
  height: 8px;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.player-hp-bar-container,
.player-sp-bar-container {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 8px;
  outline: 1px solid rgba(255, 255, 255, 0.1);
}

.player-karma-bar-container {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 8px;
  outline: 1px solid rgba(255, 255, 255, 0.1);
}

.player-karma-bar {
  background: linear-gradient(30deg, rgb(228, 224, 25) 50%, rgb(255, 252, 99) 100%);
  height: 100%;
  width: 0%;
  max-width: 100%;
}

.player-hp-bar {
  background: linear-gradient(30deg, rgb(0, 141, 87) 50%, rgb(69, 255, 168) 100%);
  height: 100%;
  width: 100%;
}

.player-sp-bar {
  background: linear-gradient(30deg, rgb(52, 143, 204) 50%, rgb(97, 176, 255) 100%);
  height: 100%;
  width: 100%;
}

.player-karma-bar, .player-hp-bar, .player-sp-bar {
  transition-duration: 0.4s;
}

.player-cards-enter {
  animation: enter-from-left 0.8s forwards;
}

.player-cards-exit {
  animation: exit-to-left 0.4s forwards;
}

.hp-bar-low {
  animation: low-health-pulse 0.8s infinite linear;
}

.wp-orb-animate {
  animation: pulsing-orb 2s infinite linear, orb-enter 0.4s forwards;
}

.wp-orb-drain {
  animation: orb-drain 0.1s forwards;
}/*# sourceMappingURL=player-card.css.map */