@-webkit-keyframes alert-enter {
  from {
    opacity: 0%;
    transform: translateY(100%);
  }
  to {
    opacity: 100%;
    transform: translateY(0%);
  }
}
@keyframes alert-enter {
  from {
    opacity: 0%;
    transform: translateY(100%);
  }
  to {
    opacity: 100%;
    transform: translateY(0%);
  }
}
@-webkit-keyframes alert-leave {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
@keyframes alert-leave {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@-webkit-keyframes add-person {
  0% {
    opacity: 0%;
    line-height: 0;
    padding: 0px;
  }
  50% {
    opacity: 0%;
    line-height: auto;
    padding: 8px;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes add-person {
  0% {
    opacity: 0%;
    line-height: 0;
    padding: 0px;
  }
  50% {
    opacity: 0%;
    line-height: auto;
    padding: 8px;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes enter {
  from {
    opacity: 0%;
    transform: translateY(16px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}
@keyframes enter {
  from {
    opacity: 0%;
    transform: translateY(16px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}
@-webkit-keyframes enter-image {
  from {
    height: 0px;
  }
  to {
    height: 128px;
  }
}
@keyframes enter-image {
  from {
    height: 0px;
  }
  to {
    height: 128px;
  }
}
@-webkit-keyframes enter-freetext {
  0% {
    opacity: 0%;
    width: 0px;
    margin: 0 0em;
  }
  66% {
    opacity: 0%;
    width: 360px;
    margin: 0 clamp(1em, 1.5vw, 2em);
    transform: translateY(16px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}
@keyframes enter-freetext {
  0% {
    opacity: 0%;
    width: 0px;
    margin: 0 0em;
  }
  66% {
    opacity: 0%;
    width: 360px;
    margin: 0 clamp(1em, 1.5vw, 2em);
    transform: translateY(16px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}
@-webkit-keyframes leave-freetext {
  0% {
    opacity: 100%;
    width: 360px;
    margin: 0 clamp(1em, 1.5vw, 2em);
    transform: translateY(0px);
  }
  33% {
    opacity: 0%;
    width: 360px;
    margin: 0 clamp(1em, 1.5vw, 2em);
    transform: translateY(-16px);
  }
  100% {
    opacity: 0%;
    width: 0px;
    margin: 0;
  }
}
@keyframes leave-freetext {
  0% {
    opacity: 100%;
    width: 360px;
    margin: 0 clamp(1em, 1.5vw, 2em);
    transform: translateY(0px);
  }
  33% {
    opacity: 0%;
    width: 360px;
    margin: 0 clamp(1em, 1.5vw, 2em);
    transform: translateY(-16px);
  }
  100% {
    opacity: 0%;
    width: 0px;
    margin: 0;
  }
}
@-webkit-keyframes enter-nav {
  0% {
    opacity: 0%;
    height: 0px;
  }
  50% {
    opacity: 0%;
    height: 35px;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes enter-nav {
  0% {
    opacity: 0%;
    height: 0px;
  }
  50% {
    opacity: 0%;
    height: 35px;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes leave-nav {
  0% {
    opacity: 100%;
    height: 35px;
  }
  50% {
    opacity: 0%;
    height: 35px;
  }
  100% {
    opacity: 0%;
    height: 0px;
  }
}
@keyframes leave-nav {
  0% {
    opacity: 100%;
    height: 35px;
  }
  50% {
    opacity: 0%;
    height: 35px;
  }
  100% {
    opacity: 0%;
    height: 0px;
  }
}
::-webkit-scrollbar {
  box-shadow: inset -2px -2px 4px 0 hsla(0deg, 0%, 100%, 0.05), inset 2px 2px 4px 0 hsla(0deg, 0%, 0%, 0.33);
  border-radius: 2px;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset -2px -2px 4px 0 hsla(0deg, 0%, 100%, 0.05), inset 2px 2px 4px 0 hsla(0deg, 0%, 0%, 0.33);
  background: hsl(180deg, 100%, 100%);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(180deg, 100%, 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

:root {
  background: hsl(225deg, 7%, 11%);
}

*, ::before, ::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 1px solid white !important;
  outline-offset: -2px;
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: hsl(180deg, 1%, 13%) white transparent;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

header {
  background-color: hsl(0deg, 0%, 5%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: none;
  height: 35px;
}

.nav-enter {
  -webkit-animation: enter-nav 0.8s forwards;
          animation: enter-nav 0.8s forwards;
}

.nav-leave {
  -webkit-animation: leave-nav 0.8s forwards;
          animation: leave-nav 0.8s forwards;
}

nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Crimson Text", serif;
  font-size: 1.2em;
  color: hsl(0deg, 0%, 100%);
}
nav ul li {
  cursor: pointer;
}
nav ul a {
  display: block;
  background-color: hsl(0deg, 0%, 5%);
  padding: 4px 16px;
  border-bottom: 2px solid transparent;
  transition-duration: 0.2s;
}
nav ul a:hover {
  border-bottom: 2px solid hsl(0deg, 0%, 100%);
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Crimson Text", serif;
  color: hsl(180deg, 100%, 100%);
  text-shadow: 0px 0px 2px hsl(0deg, 0%, 5%), 0px 0px 4px hsl(0deg, 0%, 5%);
  font-weight: 600;
  text-align: center;
  font-size: 2em;
  margin: 1.5em 0.5em 0.75em 0.5em;
}

h2 {
  font-family: "Crimson Text", serif;
  color: hsl(180deg, 100%, 100%);
  text-shadow: 0px 0px 2px hsl(0deg, 0%, 5%), 0px 0px 4px hsl(0deg, 0%, 5%);
  -webkit-animation: enter 0.5s forwards;
          animation: enter 0.5s forwards;
  margin-bottom: 0.5em;
  border-bottom: 1px solid hsla(0deg, 0%, 100%, 0.5);
  font-weight: 400;
  font-size: 1.5em;
  position: relative;
}

p {
  font-family: "Crimson Text", serif;
  color: hsl(180deg, 100%, 100%);
  text-shadow: 0px 0px 2px hsl(0deg, 0%, 5%), 0px 0px 4px hsl(0deg, 0%, 5%);
  font-size: 2em;
}

button {
  font-family: "Crimson Text", serif;
  color: hsl(180deg, 100%, 100%);
  text-shadow: 0px 0px 2px hsl(0deg, 0%, 5%), 0px 0px 4px hsl(0deg, 0%, 5%);
  background-color: hsl(0deg, 0%, 5%);
  border: 1px solid hsl(180deg, 1%, 13%);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 1.2em;
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: -2px -2px 4px 0 hsla(0deg, 0%, 100%, 0.05), 2px 2px 4px 0 hsla(0deg, 0%, 0%, 0.33);
  margin: 1em 0;
  position: relative;
}
button:hover {
  border: 1px solid hsl(240deg, 3%, 30%);
}

.alert {
  font-family: "Crimson Text", serif;
  color: hsl(180deg, 100%, 100%);
  text-shadow: 0px 0px 2px hsl(0deg, 0%, 5%), 0px 0px 4px hsl(0deg, 0%, 5%);
  -webkit-animation: alert-enter 0.25s forwards;
          animation: alert-enter 0.25s forwards;
  background-color: hsl(225deg, 7%, 11%);
  border-top: 1px solid hsl(180deg, 1%, 13%);
  font-size: 1.5em;
  letter-spacing: 0px;
  position: fixed;
  bottom: 0;
  padding: 1em;
  text-align: center;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.button-container p {
  font-size: 1.2em;
}

.move-buttons {
  display: flex;
  flex-direction: row;
}
.move-buttons button {
  width: 50%;
  margin: 0;
  font-size: 1em;
}
.move-buttons::after {
  font-family: "Crimson Text", serif;
  color: hsl(180deg, 100%, 100%);
  text-shadow: 0px 0px 2px hsl(0deg, 0%, 5%), 0px 0px 4px hsl(0deg, 0%, 5%);
  background-color: hsl(0deg, 0%, 5%);
  border: 1px solid hsl(180deg, 1%, 13%);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 1.2em;
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
  transition-duration: 0.2s;
  content: "Move Character";
  position: absolute;
  font-size: 1em;
  width: 100%;
  pointer-events: none;
}
.move-buttons::after:hover {
  border: 1px solid hsl(240deg, 3%, 30%);
}
.move-buttons:hover::after {
  opacity: 0;
}

.row {
  display: flex;
  align-items: center;
  gap: 1em;
}
.row input[type=text] {
  font-family: "Crimson Text", serif;
  color: hsl(180deg, 100%, 100%);
  text-shadow: 0px 0px 2px hsl(0deg, 0%, 5%), 0px 0px 4px hsl(0deg, 0%, 5%);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid hsla(0deg, 0%, 100%, 0.5);
  font-size: 1.2em;
  margin: 0;
  padding: 2px 4px;
  flex-grow: 2;
  transition-duration: 0.2s;
}
.row input[type=text]:hover {
  background-color: hsla(0deg, 0%, 100%, 0.05);
}
.row input[type=number] {
  font-family: "Crimson Text", serif;
  color: hsl(180deg, 100%, 100%);
  text-shadow: 0px 0px 2px hsl(0deg, 0%, 5%), 0px 0px 4px hsl(0deg, 0%, 5%);
  background-color: transparent;
  border: 1px solid hsla(0deg, 0%, 100%, 0.5);
  padding: 2px;
  width: 37px;
  font-size: 1.5em;
  text-align: center;
  border-radius: 32px;
}

label {
  font-family: "Crimson Text", serif;
  color: hsl(180deg, 100%, 100%);
  text-shadow: 0px 0px 2px hsl(0deg, 0%, 5%), 0px 0px 4px hsl(0deg, 0%, 5%);
  font-size: 1.2em;
  text-align: right;
  width: 92px;
}

#instructions {
  -webkit-animation: enter 0.5s forwards;
          animation: enter 0.5s forwards;
  margin: 0 clamp(1em, 1.5vw, 2em);
  width: 360px;
}
#instructions p {
  -webkit-animation: enter 0.5s forwards;
          animation: enter 0.5s forwards;
  margin: 0;
  font-size: 1.5em;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
}

#character-editor {
  display: none;
  margin: 0 clamp(1em, 1.5vw, 2em);
  width: 360px;
}

#editor-container {
  -webkit-animation: enter 0.5s forwards;
          animation: enter 0.5s forwards;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#profile-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
#profile-buttons > label {
  font-family: "Crimson Text", serif;
  color: hsl(180deg, 100%, 100%);
  text-shadow: 0px 0px 2px hsl(0deg, 0%, 5%), 0px 0px 4px hsl(0deg, 0%, 5%);
  background-color: hsl(0deg, 0%, 5%);
  border: 1px solid hsl(180deg, 1%, 13%);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 1.2em;
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: -2px -2px 4px 0 hsla(0deg, 0%, 100%, 0.05), 2px 2px 4px 0 hsla(0deg, 0%, 0%, 0.33);
  width: 50%;
  margin: 1em 0;
}
#profile-buttons > label:hover {
  border: 1px solid hsl(240deg, 3%, 30%);
}
#profile-buttons > label:focus-within {
  outline: 1px solid white !important;
  outline-offset: -2px;
  border-radius: 4px;
}
#profile-buttons > button {
  width: 50%;
}

#upload-picture {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#character-freetext {
  display: none;
  margin: 0 clamp(1em, 1.5vw, 2em);
  width: 360px;
}

.animate-freetext-enter {
  -webkit-animation: enter-freetext 0.8s forwards;
          animation: enter-freetext 0.8s forwards;
}

.animate-freetext-leave {
  -webkit-animation: leave-freetext 0.8s forwards;
          animation: leave-freetext 0.8s forwards;
}

#traits-container, #traits-container-2 {
  -webkit-animation: enter 0.5s forwards;
          animation: enter 0.5s forwards;
  display: flex;
  flex-direction: column;
  max-height: 66vh;
}
#traits-container div, #traits-container-2 div {
  padding-right: 8px;
  overflow-y: scroll;
}
#traits-container label, #traits-container-2 label {
  width: 100%;
  text-align: left;
}
#traits-container button, #traits-container-2 button {
  margin: 0.5em 0;
}

#traits-container-2 {
  display: none;
}

textarea {
  box-shadow: inset -2px -2px 4px 0 hsla(0deg, 0%, 100%, 0.05), inset 2px 2px 4px 0 hsla(0deg, 0%, 0%, 0.33);
  background-color: hsl(0deg, 0%, 5%);
  color: hsl(0deg, 0%, 100%);
  border-radius: 4px;
  border: none;
  flex-shrink: 0;
  font-family: "Crimson Text", serif;
  font-size: 1em;
  width: 100%;
  height: 5em;
  resize: vertical;
  padding: 4px;
  margin: 4px 0 8px 0;
}

#character-stats {
  display: none;
  width: 360px;
  margin: 0 clamp(1em, 1.5vw, 2em);
}

#stats-container {
  display: flex;
  -webkit-animation: enter 0.5s forwards;
          animation: enter 0.5s forwards;
  flex-direction: column;
  gap: 4px;
}

.stat-modifier {
  font-size: 1.5em;
  margin: 0;
  text-align: right;
}

.btn-minus-plus {
  margin: 0;
  width: 35px;
}

.btn-stats-container {
  display: flex;
  gap: 4px;
}

.three-element-group {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}
.three-element-group div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}
.three-element-group label {
  width: auto;
  text-align: center;
  margin: 4px 0;
}
.three-element-group input {
  font-family: "Crimson Text", serif;
  color: hsl(180deg, 100%, 100%);
  text-shadow: 0px 0px 2px hsl(0deg, 0%, 5%), 0px 0px 4px hsl(0deg, 0%, 5%);
  background-color: transparent;
  border: 1px solid hsla(0deg, 0%, 100%, 0.5);
  padding: 2px;
  width: 96px;
  font-size: 1.5em;
  text-align: center;
  border-radius: 32px;
}

#character-skills {
  display: none;
  width: 360px;
  margin: 0 clamp(1em, 1.5vw, 2em);
}

#character-list {
  -webkit-animation: enter 0.5s forwards;
          animation: enter 0.5s forwards;
  margin: 0 clamp(1em, 1.5vw, 2em);
}

#character-container {
  box-shadow: -2px -2px 4px 0 hsla(0deg, 0%, 100%, 0.05), 2px 2px 4px 0 hsla(0deg, 0%, 0%, 0.33);
  -webkit-animation: enter 0.5s forwards;
          animation: enter 0.5s forwards;
  display: flex;
  flex-direction: column;
  padding: 1px 2px 1px 1px;
  gap: 1px;
  border-radius: 4px;
  height: 438px;
  width: 360px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: hsl(0deg, 0%, 5%);
  border: 1px solid hsl(180deg, 1%, 13%);
}

.person-container {
  -webkit-animation: add-person 0.5s forwards;
          animation: add-person 0.5s forwards;
  display: flex;
  flex-shrink: 0;
  gap: 8px;
  outline: 1px solid transparent;
  padding: 8px;
  cursor: pointer;
  overflow: hidden;
  transition-duration: 0.2s;
}
.person-container:hover {
  outline: 1px solid hsl(180deg, 100%, 100%);
}
.person-container img {
  -webkit-animation: enter-image 0.5s forwards;
          animation: enter-image 0.5s forwards;
}
.person-container h3 {
  font-family: "Crimson Text", serif;
  color: hsl(180deg, 100%, 100%);
  text-shadow: 0px 0px 2px hsl(0deg, 0%, 5%), 0px 0px 4px hsl(0deg, 0%, 5%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 400;
  font-size: 1.2em;
  margin: 0;
}
.person-container h3:empty:not(:focus)::before {
  content: attr(data-placeholder);
  pointer-events: none;
}
.person-container p {
  font-size: 1em;
  font-weight: 400;
  color: hsl(170deg, 50%, 50%);
  margin: 0;
}
.person-container p:empty:not(:focus)::before {
  content: attr(data-placeholder);
  pointer-events: none;
}

.add-person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  outline: 1px solid transparent;
  cursor: pointer;
  transition-duration: 0.2s;
}
.add-person:hover {
  outline: 1px solid hsl(180deg, 100%, 100%);
}
.add-person p {
  font-size: 1.2em;
  text-align: center;
  margin: 0.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#add-person {
  font-family: "Crimson Text", serif;
  color: hsl(180deg, 100%, 100%);
  text-shadow: 0px 0px 2px hsl(0deg, 0%, 5%), 0px 0px 4px hsl(0deg, 0%, 5%);
  font-family: sans-serif;
  line-height: 0.5;
  font-size: 6em;
  margin: 0.2em 0em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#add-person + p {
  position: relative;
}

.person-image {
  width: 128px;
  height: 128px;
  -o-object-fit: cover;
     object-fit: cover;
}

.person-container-selected {
  outline: 1px solid white;
}

.tab-selected {
  border-bottom: 2px solid hsl(204deg, 76%, 46%);
  color: hsl(0deg, 0%, 100%);
}

@media screen and (max-width: 1100px) {
  html {
    overflow-y: auto;
  }

  header h1 {
    margin: 1em 0.5em 0 0.5em;
  }

  main {
    flex-direction: column;
  }

  #instructions {
    width: auto;
  }

  h2, #squadron-list > h2 {
    margin-top: 2em;
    text-align: left;
  }

  #character-container {
    display: flex;
    padding: 1px;
    gap: 1px;
    max-height: 552px;
    overflow-y: auto;
    overflow-x: scroll;
  }
}
@media screen and (max-width: 500px) {
  header h1 {
    font-size: 1.5em;
  }
  header #timer {
    font-size: 1.5em;
  }

  #instructions > p {
    -webkit-animation: none;
            animation: none;
    font-size: 1.2em;
  }

  .row {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25em;
    margin-bottom: 1em;
  }
  .row p {
    -webkit-animation: none;
            animation: none;
  }

  label, h1, h2, button, #timer {
    -webkit-animation: none;
            animation: none;
  }

  .alert {
    -webkit-animation: alert-enter 0.25s forwards;
            animation: alert-enter 0.25s forwards;
  }

  #add-person + p {
    -webkit-animation: none;
            animation: none;
  }

  .button-group p {
    -webkit-animation: none;
            animation: none;
    margin-bottom: 0;
  }

  .button-container {
    flex-direction: column;
    gap: 0;
    margin-bottom: 1em;
  }
  .button-container button {
    margin-bottom: 0;
  }

  *::after {
    display: none;
  }
}
html {
  visibility: visible;
  opacity: 1;
}/*# sourceMappingURL=styles.css.map */