@keyframes alert-enter {
  from {
    opacity: 0%;
    transform: translateY(100%);
  }
  to {
    opacity: 100%;
    transform: translateY(0%);
  }
}
@keyframes alert-leave {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes add-person {
  0% {
    opacity: 0%;
    line-height: 0;
    padding: 0px;
  }
  50% {
    opacity: 0%;
    line-height: auto;
    padding: 8px;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes enter {
  from {
    opacity: 0%;
    transform: translateY(16px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}
@keyframes enter-image {
  from {
    height: 0px;
  }
  to {
    height: 128px;
  }
}
@keyframes enter-column-2 {
  0% {
    opacity: 0%;
    width: 0px;
    margin: 0 0em;
  }
  66% {
    opacity: 0%;
    width: 360px;
    margin: 0 clamp(1em, 1.5vw, 2em);
    transform: translateY(16px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}
@keyframes leave-column-2 {
  0% {
    opacity: 100%;
    width: 360px;
    margin: 0 clamp(1em, 1.5vw, 2em);
    transform: translateY(0px);
  }
  33% {
    opacity: 0%;
    width: 360px;
    margin: 0 clamp(1em, 1.5vw, 2em);
    transform: translateY(-16px);
  }
  100% {
    opacity: 0%;
    width: 0px;
    margin: 0;
  }
}
@keyframes enter-nav {
  0% {
    opacity: 0%;
    height: 0px;
  }
  50% {
    opacity: 0%;
    height: 40px;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes leave-nav {
  0% {
    opacity: 100%;
    height: 40px;
  }
  50% {
    opacity: 0%;
    height: 40px;
  }
  100% {
    opacity: 0%;
    height: 0px;
  }
}
::-webkit-scrollbar {
  box-shadow: inset -2px -2px 4px 0 hsla(0, 0%, 100%, 0.05), inset 2px 2px 4px 0 hsla(0, 0%, 0%, 0.5);
  border-radius: 4px;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset -2px -2px 4px 0 hsla(0, 0%, 100%, 0.05), inset 2px 2px 4px 0 hsla(0, 0%, 0%, 0.5);
  background: hsl(180, 100%, 100%);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(180, 100%, 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

:root {
  background: hsl(225, 7%, 11%);
}

*,
::before,
::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 1px solid white !important;
  outline-offset: -2px;
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-color: hsl(180, 1%, 13%) white transparent;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 5%);
  width: 100%;
  z-index: 1;
}

nav {
  display: none;
  height: 40px;
}

.nav-enter {
  animation: enter-nav 0.8s forwards;
}

.nav-leave {
  animation: leave-nav 0.8s forwards;
}

nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Crimson Text", serif;
  font-size: 1.2em;
  color: hsl(0, 0%, 100%);
}
nav ul li {
  cursor: pointer;
  height: 40px;
}
nav ul a {
  display: block;
  background-color: hsl(0, 0%, 5%);
  color: hsla(0, 0%, 100%, 0.5);
  padding: 8px 16px 8px 16px;
  height: 40px;
  border-bottom: 2px solid transparent;
  transition-duration: 0.2s;
}
nav ul a:hover {
  color: hsl(0, 0%, 100%);
}

main {
  display: flex;
  justify-content: center;
  padding: 5em 0;
}

h1 {
  visibility: hidden;
  font-family: "Crimson Text", serif;
  color: hsl(180, 100%, 100%);
  text-shadow: 0px 0px 4px hsl(0, 0%, 5%);
  font-weight: 600;
  text-align: center;
  font-size: 0;
  margin: 0;
}

h2 {
  font-family: "Crimson Text", serif;
  color: hsl(180, 100%, 100%);
  text-shadow: 0px 0px 4px hsl(0, 0%, 5%);
  animation: enter 0.5s forwards;
  margin-bottom: 0.5em;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
  font-weight: 400;
  font-size: 1.5em;
  position: relative;
}

p {
  font-family: "Crimson Text", serif;
  color: hsl(180, 100%, 100%);
  text-shadow: 0px 0px 4px hsl(0, 0%, 5%);
  font-size: 1.5em;
}

button {
  font-family: "Crimson Text", serif;
  color: hsl(180, 100%, 100%);
  text-shadow: 0px 0px 4px hsl(0, 0%, 5%);
  background-color: hsl(0, 46%, 10%);
  border: 1px solid hsl(0, 46%, 40%);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 1.2em;
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
  transition-duration: 0.2s;
  margin: 1em 0;
  position: relative;
}
button:hover {
  background-color: hsl(0, 46%, 40%);
}

.tabs-container {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.btn-tab {
  margin: 0;
  flex-grow: 0;
  background-color: transparent;
  color: hsla(0, 0%, 100%, 0.5);
  border: 0;
  border-radius: 32px;
  width: 32px;
  height: 32px;
}
.btn-tab:hover {
  background-color: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 100%);
}

.btn-close {
  max-height: 32px;
}

.alert {
  font-family: "Crimson Text", serif;
  color: hsl(180, 100%, 100%);
  text-shadow: 0px 0px 4px hsl(0, 0%, 5%);
  animation: alert-enter 0.25s forwards;
  position: fixed;
  bottom: 0;
  background-color: hsl(225, 7%, 11%);
  border-top: 1px solid hsl(180, 1%, 13%);
  font-size: 1.5em;
  letter-spacing: 0px;
  padding: 1em;
  text-align: center;
  width: 100%;
  z-index: 100;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.button-container p {
  font-size: 1.2em;
}

.move-buttons {
  display: flex;
  flex-direction: row;
}
.move-buttons button {
  width: 50%;
  margin: 0;
  font-size: 1em;
}

.row {
  display: flex;
  align-items: center;
  gap: 1em;
}
.row input[type=text] {
  font-family: "Crimson Text", serif;
  color: hsl(180, 100%, 100%);
  text-shadow: 0px 0px 4px hsl(0, 0%, 5%);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
  font-size: 1.2em;
  margin: 0;
  padding: 2px 4px;
  flex-grow: 2;
  transition-duration: 0.2s;
}
.row input[type=text]:hover {
  background-color: hsla(0, 0%, 100%, 0.05);
}
.row input[type=number] {
  font-family: "Crimson Text", serif;
  color: hsl(180, 100%, 100%);
  text-shadow: 0px 0px 4px hsl(0, 0%, 5%);
  background-color: transparent;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  padding: 2px;
  width: 37px;
  font-size: 1.5em;
  text-align: center;
  border-radius: 32px;
}

label {
  font-family: "Crimson Text", serif;
  color: hsl(180, 100%, 100%);
  text-shadow: 0px 0px 4px hsl(0, 0%, 5%);
  font-size: 1.2em;
  text-align: right;
  width: 92px;
}

#instructions {
  animation: enter 0.5s forwards;
  margin: 0 clamp(1em, 1.5vw, 2em);
  min-width: 25vw;
}
#instructions p {
  animation: enter 0.5s forwards;
  margin: 0;
  font-size: 1.5em;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
}

#character-editor {
  display: none;
  margin: 0 clamp(1em, 1.5vw, 2em);
  width: 360px;
}

#editor-container {
  animation: enter 0.5s forwards;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#profile-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
#profile-buttons > label {
  font-family: "Crimson Text", serif;
  color: hsl(180, 100%, 100%);
  text-shadow: 0px 0px 4px hsl(0, 0%, 5%);
  background-color: hsl(0, 46%, 10%);
  border: 1px solid hsl(0, 46%, 40%);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 1.2em;
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
  transition-duration: 0.2s;
  width: 50%;
  margin: 1em 0;
}
#profile-buttons > label:hover {
  background-color: hsl(0, 46%, 40%);
}
#profile-buttons > label:focus-within {
  outline: 1px solid white !important;
  outline-offset: -2px;
  border-radius: 4px;
}
#profile-buttons > button {
  width: 50%;
}

#upload-picture {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#character-freetext,
#character-freetext-2 {
  display: none;
  margin: 0 clamp(1em, 1.5vw, 2em);
  width: 360px;
}

#traits-container,
#traits-container-2 {
  animation: enter 0.5s forwards;
  display: flex;
  flex-direction: column;
}
#traits-container > :first-child,
#traits-container-2 > :first-child {
  padding-right: 8px;
}
#traits-container label,
#traits-container-2 label {
  width: 100%;
  text-align: left;
}
#traits-container button,
#traits-container-2 button {
  margin: 0.5em 0;
}

textarea {
  background-color: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 100%);
  border-radius: 4px;
  border: none;
  flex-shrink: 0;
  font-family: "Crimson Text", serif;
  font-size: 1em;
  width: 100%;
  min-height: 1.8em;
  height: 6em;
  resize: vertical;
  padding: 4px;
  margin: 4px 0 8px 0;
}

#ability-scores {
  display: none;
  width: 360px;
  margin: 0 clamp(1em, 1.5vw, 2em);
}

#character-stats {
  display: none;
  width: 360px;
  margin: 0 clamp(1em, 1.5vw, 2em);
}

#stats-container,
#stats-container-2 {
  display: flex;
  animation: enter 0.5s forwards;
  flex-direction: column;
  gap: 4px;
}

.stat-modifier {
  font-size: 1.5em;
  border-radius: 4px;
  margin: 0;
  text-align: center;
}

.btn-minus-plus {
  margin: 0;
  width: 33px;
}

.btn-stats-container {
  display: flex;
  gap: 4px;
}
.btn-stats-container + p {
  font-size: 1.2em;
  margin: 0;
}

.three-element-group {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}
.three-element-group div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}
.three-element-group label {
  width: auto;
  text-align: center;
  margin: 4px 0;
}
.three-element-group input {
  font-family: "Crimson Text", serif;
  color: hsl(180, 100%, 100%);
  text-shadow: 0px 0px 4px hsl(0, 0%, 5%);
  background-color: transparent;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  padding: 2px;
  width: 96px;
  font-size: 1.5em;
  text-align: center;
  border-radius: 32px;
}

.bars {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.hp-container,
.exp-container {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 5%);
  border-radius: 4px;
  padding: 0.75em 1em;
  gap: 8px;
}
.hp-container input[type=text],
.exp-container input[type=text] {
  font-family: "Crimson Text", serif;
  color: hsl(180, 100%, 100%);
  text-shadow: 0px 0px 4px hsl(0, 0%, 5%);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
  font-size: 1.2em;
  margin: 0;
  padding: 2px 4px;
}
.hp-container input[type=number],
.exp-container input[type=number] {
  font-family: "Crimson Text", serif;
  color: hsl(180, 100%, 100%);
  text-shadow: 0px 0px 4px hsl(0, 0%, 5%);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
  padding: 2px;
  height: 32px;
  width: 48px;
  font-size: 1.5em;
  text-align: center;
}
.hp-container #characterLevel,
.exp-container #characterLevel {
  width: 32px;
}
.hp-container div,
.exp-container div {
  display: flex;
  justify-content: space-between;
}
.hp-container p,
.exp-container p {
  margin: 0;
  font-size: 1.5em;
}

.hp-text label,
.exp-text label {
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.exp-text input[type=number] {
  width: 80px;
}

.hp-bar,
.exp-bar {
  position: relative;
  height: 24px;
}

.hp-bar-large-bg,
.exp-bar-large-bg {
  box-shadow: inset -2px -2px 4px 0 hsla(0, 0%, 100%, 0.05), inset 2px 2px 4px 0 hsla(0, 0%, 0%, 0.5);
  position: absolute;
  background-color: hsla(0, 74%, 35%, 0.2);
  width: 100%;
  height: 24px;
  border-radius: 4px;
}

.exp-bar-large-bg {
  background-color: hsla(212, 74%, 35%, 0.2);
}

.hp-bar-large,
.exp-bar-large {
  box-shadow: inset -2px -2px 4px 0 hsla(0, 0%, 100%, 0.05), inset 2px 2px 4px 0 hsla(0, 0%, 0%, 0.5);
  position: absolute;
  background-color: hsl(0, 74%, 35%);
  top: 0;
  left: 0;
  width: 100%;
  height: 24px;
  border-radius: 4px;
}

.exp-bar-large {
  background-color: hsl(212, 74%, 35%);
}

.temporary-hp-container,
.character-level-container {
  display: flex;
  justify-content: flex-start !important;
  gap: 0.5em;
}
.temporary-hp-container label,
.character-level-container label {
  display: flex;
  align-items: center;
  width: auto;
  font-size: 1.5em;
}

#character-skills {
  display: none;
  width: 360px;
  margin: 0 clamp(1em, 1.5vw, 2em);
}

#skills-container {
  animation: enter 0.5s forwards;
  padding-right: 1em;
  border-radius: 4px;
}
#skills-container .row {
  justify-content: space-between;
}
#skills-container .row div {
  display: flex;
  align-items: center;
  gap: 4px;
}
#skills-container .row div > :first-child {
  font-size: 0;
}
#skills-container .row div > :last-child {
  margin-left: 4px;
}
#skills-container label {
  width: auto;
}
#skills-container input[type=number] {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: hsla(0, 0%, 100%, 0);
  height: 1.5em;
  width: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  border: 1px solid hsla(0, 0%, 100%, 0.8);
  border-radius: 32px;
  transition-duration: 0.2s;
}

input[type=checkbox]:checked {
  background-color: hsl(0, 0%, 100%);
}

#character-list {
  animation: enter 0.5s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  border-radius: 4px;
  background-color: hsl(225, 7%, 11%);
  box-shadow: 0 0 64px 0 hsl(0, 0%, 5%);
  z-index: 100;
}

#character-container {
  animation: enter 0.5s forwards;
  display: flex;
  flex-direction: column;
  padding: 1px 2px 1px 1px;
  gap: 1px;
  border-radius: 4px;
  height: 582px;
  width: 360px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: hsl(0, 0%, 5%);
}

.person-container {
  animation: add-person 0.5s forwards;
  display: flex;
  flex-shrink: 0;
  gap: 8px;
  outline: 1px solid transparent;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  overflow: hidden;
  transition-duration: 0.2s;
}
.person-container:hover {
  outline: 1px solid hsl(180, 100%, 100%);
}
.person-container img {
  animation: enter-image 0.5s forwards;
}
.person-container h3 {
  font-family: "Crimson Text", serif;
  color: hsl(180, 100%, 100%);
  text-shadow: 0px 0px 4px hsl(0, 0%, 5%);
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  font-size: 1.2em;
  margin: 0;
}
.person-container h3:empty:not(:focus)::before {
  content: attr(data-placeholder);
  pointer-events: none;
}
.person-container p {
  font-size: 1em;
  font-weight: 400;
  color: hsl(170, 50%, 50%);
  margin: 0;
}
.person-container p:empty:not(:focus)::before {
  content: attr(data-placeholder);
  pointer-events: none;
}

.add-person,
.delete-person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  outline: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.2s;
}
.add-person:hover,
.delete-person:hover {
  outline: 1px solid hsl(180, 100%, 100%);
}
.add-person p,
.delete-person p {
  font-size: 1.2em;
  text-align: center;
  margin: 0.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#add-person {
  font-family: "Crimson Text", serif;
  color: hsl(180, 100%, 100%);
  text-shadow: 0px 0px 4px hsl(0, 0%, 5%);
  font-family: sans-serif;
  line-height: 0.5;
  font-size: 6em;
  margin: 0.2em 0em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#add-person + p {
  position: relative;
}

.person-image {
  width: 128px;
  height: 128px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: hsl(0, 0%, 5%);
}

#toggle-footer {
  margin: 0;
  padding: 0.25em 0;
  font-size: 1.2em;
  width: 100%;
  border-radius: 0;
}

.person-container-selected {
  outline: 1px solid hsla(0, 0%, 100%, 0.5);
}

.tab-selected {
  border-bottom: 2px solid hsl(0, 46%, 40%);
  color: hsl(0, 0%, 100%);
}

.tab-number-selected {
  background-color: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 1100px) {
  html {
    overflow-y: auto;
  }
  main {
    flex-direction: column;
  }
  #character-container {
    display: flex;
    padding: 1px;
    gap: 1px;
    max-height: 552px;
    overflow-y: auto;
    overflow-x: scroll;
  }
}
html {
  visibility: visible;
  opacity: 1;
}/*# sourceMappingURL=styles.css.map */